---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
    <SkillsOnTerminal />
    <div class="text-content">
        <Title contenido="Habilidades" />
        <p>
            Sou um desenvolvedor Full Stack experiente, com profundo conhecimento em várias tecnologias, incluindo:
        </p>

        <strong>Front-end:</strong>
        <ul>
            <li>Linguagens: HTML, CSS, JavaScript e TypeScript</li>
            <li>Frameworks: Angular, React e Vue.js</li>
            <li>Bibliotecas: Bootstrap, Materialize CSS e outros</li>
            <li>Experiência com UI/UX e design responsivo</li>
        </ul>

        <strong>Back-end:</strong>
        <ul>
            <li>Linguagens: Java, Node.js e Python</li>
            <li>Frameworks: Spring Boot, Express.js e Django</li>
            <li>Bancos de dados: MySQL, PostgreSQL e MongoDB</li>
            <li>Experiência com APIs, RESTful e microserviços</li>
        </ul>

        <strong>Outras Habilidades:</strong>
        <ul>
            <li>Controle de versão: Git e GitHub</li>
            <li>Ferramentas de desenvolvimento: Docker, Kubernetes e Postman</li>
            <li>Metodologias ágeis: Scrum e Kanban</li>
            <li>Capacidade de aprendizado rápido e adaptabilidade</li>
        </ul>

        <p>Estou sempre buscando aprender novas tecnologias e me manter atualizado com as últimas tendências do mercado.</p>
    </div>
</section>
