#skills {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(var(--max-width) + 2.2rem);
    padding: 1.1rem;
    gap: 2.2rem;
    margin: 4rem auto;
    align-items: center;
}

#skills .text-content {
    flex: 1;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.1rem;
}

#skills .text-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#skills .text-content li {
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
    #skills {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    #skills .text-content {
        max-width: 100%;
    }
}

li {
	font-size: 16px;
	color: white;
}

strong {
	font-size: 20px;
	font-weight: bold;
	color: white;
}