---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import './about.css';
---

<section id="about" class="about">
    <div class="about__container">
        <img
            class="about__img"
            src="https://www.bpocenter.com.bo/wp-content/uploads/2017/11/10.jpg"
            alt="Foto de perfil de Joao Santos"
        />

        <div class="about__content">
            <Title margin="1rem" contenido="Sobre mim" />
            <p class="about__text">
                Olá! Sou desenvolvedor Full Stack apaixonado por tecnologias Open Source. 
                Estou sempre buscando aprender e me aprimorar para criar soluções inovadoras e de qualidade.
            </p>
            <SocialIcons width="25" height="25" />
        </div>
    </div>
</section>
